.base {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: column nowrap;
    overflow-x: hidden;
}

.header-bar-2 {
    display: block;
    width: 100%;
    height: 5vh;
    background-color: #8b2b2b;
}

::ng-deep .ce-paragraph {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

::ng-deep .ce-toolbar__actions{
    right: -45px;
}

.container {
    display: block;
    width: 100%;
    height: 95vh;
    background-color: #dddddd;
}

#editorjs {
    max-width: 1240px;
    background-color: #ffffff;
    margin: auto;
    padding: 5px;
}