<div class="base">
    <div class="header-bar-2"></div>
    <div class="container">
        <div id="editorjs"></div>
    
        <button (click)="switch()">Switch</button>
        <button id="save-button">Save</button>
        <pre id="output"></pre>
    </div>
</div>
