<div class="base">
    <div class="page-half">
        <div id="editorjs"></div>
    </div>
    <div class="page-half">
        <div class="info">
            <div class="row">
                <button class="button save" id="save-button">Save</button>
                <button class="button get" id="get-button" (click)="getDataFromBackEnd()">Get</button>
            </div>
            
            <pre id="output"></pre>
        </div>
    </div>
</div>


