#editorjs {
    // border: solid 1px red;
}

::ng-deep .ce-block__content {
    box-shadow: 
        0 2px 1px -1px rgba(0,0,0,.2), 
        0 1px 1px 0 rgba(0,0,0,.14), 
        0 1px 3px 0 rgba(0,0,0,.12);
    padding: 16px 36px;
    border-radius: 4px;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 12px;
    margin-bottom: 12px;
}

.base {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page-half {
    width: 50%;
    height: 100%;
    display: block;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    // min-height: 50%;
    align-items: center;
    justify-content: flex-start;
}

.button {
    margin: 16px;
    padding: 12px 36px;
    border-radius: 24px;
    border: unset;
    color: white;
    outline-style: none;
    font-size: 12pt;
    box-shadow: 
        0 2px 1px -1px rgba(0,0,0,.2), 
        0 1px 1px 0 rgba(0,0,0,.14), 
        0 1px 3px 0 rgba(0,0,0,.12);
    &.save {
        background-color: #4766f3;
    }
    &.get {
        background-color: #f03e26;
    }
}

.button:active {
    transform: translateY(1px);
}

.visible {
    visibility: visible !important;
}

#output {
    border: solid 1px #b9b9b9;
    padding: 16px;
    max-width: 75%;
    overflow-x: auto;
    visibility: hidden;
    &::-webkit-scrollbar {
        width: 0.6em;
        height: 0.6em;
    }
    &::-webkit-scrollbar-thumb {
        background: #666;
        // border-radius: 0.5em;
    }
    &::-webkit-scrollbar-track {
        background: #ddd;
        // border-radius: 0.5em;
    }
    box-shadow: 
        0 2px 1px -1px rgba(0,0,0,.2), 
        0 1px 1px 0 rgba(0,0,0,.14), 
        0 1px 3px 0 rgba(0,0,0,.12);
}