* {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body {
    padding: 0;
    margin: 0;
}

// .simple-image {
//     padding: 10px 0;
// }

// .simple-image input {
//     width: 100%;
//     padding: 10px;
//     border: 1px solid #e4e4e4;
//     border-radius: 3px;
//     outline: none;
//     font-size: 14px;
// }

// .simple-image img {
//     max-width: 100%;
//     margin-bottom: 15px;
// }

// .simple-image.withBorder img {
//     border: 1px solid #cfcfd1;
// }

// .simple-image.withBackground {
//     background: #eff2f5;
//     padding: 10px;
// }

// .simple-image.withBackground img {
//     display: block;
//     max-width: 60%;
//     margin: 0 auto 15px;
// }

// .quote-box {
//     display: flex;
//     flex-flow: column nowrap;
//     justify-content: space-evenly;
//     min-height: 100px;
//     min-width: 100%;
//     padding: 10px;
//     border: 1px solid #e4e4e4;
//     border-radius: 3px;
//     outline: none;
//     font-size: 14px;
// }

// .quote-input {
//     display: block;
//     height: 15px;
//     width: 90%;
//     margin: auto;
//     // border: solid red 1px;
//     &.large {
//         height: 50px;
//     }
// }